*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 2000px;
    width: 2000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 300px;
    width: 180px;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 10px;   
}

.image{
margin: 0px;
padding: 0px;
height: 120px;
width: 180px;
border-radius: 10px;                                        
}

.my{
    height: 120px;
    width: 180px;
    margin: 0px;
    border-radius: 10px 10px 0px 0px;
}


.detail{
    
    background-color: antiquewhite;
    width: 180px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    margin: 110px 0px;
    padding-top: 20px;
    box-shadow:black;

}